h1, h2, h3, h4 {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
}

body {
	font-family: Rockwell, Cambria, "Times New Roman", serif;
	background-color: black;
	color: white;
}

footer {
	margin: 6px;
}

div.splash {
	position: relative;
	/*top: 128px;
	left: 64px;*/
	margin: 48px auto;
	width: 80%;
	border: 1px solid red;
	border-radius: 16px;
	background-color: darkgray;
	color: blue;
	padding: 12px 24px;
	pointer-events: auto;
}

div.splash div {
	margin: 16px;
}

.splashButton {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	margin: 18px 0 12px 0;
	width: 100%;
	font-size: 1.5em;
	color: red;
}

header {
	margin: 12px 16px;
	background-color: inherit;
	color: white;
	font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
header h1 {
	margin: 0;
}
/*ID Specific Styling*/
div[id="splashLevel"], div[id="splashEnd"] {
	display: none;
}

#game {
	display: flex;
	margin: 0 24px;
	pointer-events: none;
}

/* Code for Modal Styling */
div.modalBox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
}

#openSettings {
	position: absolute;
	top: 144px;
	right: 12%;
	left: 12%;
	border: 1px solid blue;
	border-radius: 16px;
	background: white;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#openSettings:target {
	opacity:1;
	pointer-events: auto;
}

form {
	margin: 3.5%;
}

form fieldset legend {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	font-size: 1.25em;
}

form fieldset div p {
	display: inline-block;
	width: 224px;
}

form input[type="button"], form a {
	width: 224px;
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	font-size: 1em;
}

.black {
	color: black;
}
.red {
	color: indianred;
}

.center {
	margin: 0 auto;
}

.widthShort {
	width: 90%;
}
