h1, h2, h3, h4 {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
}

body {
	font-family: Rockwell, Cambria, "Times New Roman", serif;
	background-color: black;
	color: white;
}

li {
	font-weight: bold;
	font-size: 1.15em;
}

footer {
	margin: 6px;
}

div.splash {
	position: relative;
	margin: 48px auto;
	width: 80%;
	/*height: 80%;*/
	border: 1px solid red;
	border-radius: 16px;
	background-color: rgba(64,64,64,.6);

	padding: 12px 24px;
	pointer-events: auto;
}

div.splash div {
	margin: 16px;
}

.splashButton {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	margin: 18px 0 12px 0;
	width: 100%;
	font-size: 1.5em;
	color: black;
}

header {
	margin: 12px 24px;
	color: white;
	/*font-size: 1.5em;*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
header h1 {
	margin: 0;
}
/*ID Specific Styling*/
div[id="splashLevel"], div[id="splashEnd"] {
	display: none;
}

#game {
	display: flex;
	margin: 0 auto;
	pointer-events: none;
}

/* Code for Modal Styling */
div.modalBox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*background: rgba(0,0,0,0.8);*/
	background-image: url("../_images/background1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 9999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
}

#openSettings {
	position: absolute;
	top: 144px;
	right: 12%;
	left: 12%;
	border: 1px solid blue;
	border-radius: 16px;
	background: white;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	padding-bottom: 20px;
	min-height:
}

#openSettings:target {
	opacity:1;
	pointer-events: auto;
}

form {
	margin: 1% 3.5%;
}

form fieldset legend {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	font-size: 1.25em;
}

form fieldset div p {
	display: inline-block;
	width: 264px;
}

form fieldset input {
	width: 224px;
}

form input[type="button"], form a {
	width: 264px;
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	font-size: 1em;
}

form fieldset .checkboxList p {
	width: auto;
}

form input[type="checkbox"] {
	width: 48px;
}

form input[type="radio"] {
	width: 48px;
}
div .vsMode {
	font-size: 1.2em;
}
.black {
	color: black;
}
.red {
	color: red;
}

.white {
	color: white;
}

.gold {
	color: gold;
}

.blue {
	color: steelblue;
}

.center {
	margin: 0 auto;
}

.widthShort {
	width: 90%;
}

.scoreLine, .HPLine, .scoreLine2, .HPLine2 {
	position: fixed;
	font-weight: bold;
	font-size: 1.2em;
}
.scoreLine {
	top: 24px;
	left: 20px;
}
.HPLine {
	top: 54px;
	left: 20px;
}
.scoreLine2 {
	top: 84px;
	left: 20px;
}
.HPLine2 {
	top: 114px;
	left: 20px;
}
